# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env
ENV/
env/

# Flask
instance/
.webassets-cache

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Models / cache
*.pkl
*.joblib
